<div  ng-transclude>
<form action="">
        <input type="text" ng-model="$ctrl.ja.ime">
        <input type="text" ng-model="$ctrl.ja.prezime">
        <input type="text" ng-model="$ctrl.ja.godine">
        <input type="text" ng-model="$ctrl.ja.email">
    </form>
    <button ng-click="$ctrl.jaLog()">Posalji</button>
</div>