<input type="text" ng-model="query"> <br>
Moje ime je: {{$ctrl.ime}} <br>
Moje prezime je: {{$ctrl.prezime}} <br>
Moje mesto je: {{$ctrl.mesto}} <br>

<table>
    <tr ng-repeat="sve in $ctrl.slike | filter:query">
        <td>{{sve.naziv}}</td>
        <td><img ng-src='{{sve.src}}'></td>
    </tr>
</table>
<br>