<form>
    <input type="text" ng-model="ja.ime"> <br />
    <input type="text" ng-model="ja.prezime"> <br />
    <input type="number" ng-model="ja.godina"> <br />
    <input type="email" ng-model="ja.email"> <br />
    <a ng-click="send({ime: ja.ime, prezime: ja.prezime, godina: ja.godina, email: ja.email})">Send</a>
</form>