Ime: <span>{{ime}}</span>
<br>
Prezime: <span>{{prezime}}</span>
<br>
Mesto rodjenja: <span>{{mesto}}</span>
<br>

Broj 1: <input type="number" ng-model="$ctrl.a">
Broj 2: <input type="number" ng-model="$ctrl.b">
{{$ctrl.a}}
{{$ctrl.b}}
<a href="" ng-click="add({a: $ctrl.a, b: $ctrl.b})">Saberi</a>

<!-- <div class="box" ng-repeat="djura in galerija">
    <img ng-src="{{djura.slika}}" alt="Slika od galerije">
    <p>{{djura.naziv}}</p>
</div> -->