<!DOCTYPE html>
<html lang="en" ng-app="angularJSKurs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>angularJSKurs</title>
    <script src="./../../lib/angular/angular.js"></script>
    <script src="./app.js"></script>
</head>

<body>
    <div ng-controller="DiffInitController">
        <p><b>Message From Service: </b>{{serviceMsg}}</p>
        <p><b>Message From Factory: </b>{{factoryMsg}}</p>
        <p><b>Message From Provider:</b>{{providerMsg}}</p>
    </div>
</body>

</html>