<!-- Ime: <span>{{$ctrl.ime}}</span>
<br>
Prezime: <span>{{$ctrl.prezime}}</span>
<br>
Mesto rodjenja: <span>{{$ctrl.mesto}}</span>
<br>

Broj 1: <input type="number" ng-model="$ctrl.a">
Broj 2: <input type="number" ng-model="$ctrl.b">
<a href="" ng-click="$ctrl.saberi($ctrl.a, $ctrl.b)">Saberi</a> -->

<!-- <div class="box" ng-repeat="djura in $ctrl.galerija">
    <img ng-src="{{djura.slika}}" alt="Slika od galerije">
    <p>{{djura.naziv}}</p>
</div> -->

<form>
        <input type="text" ng-model="ja.ime"> <br />
        <input type="text" ng-model="ja.prezime"> <br />
        <input type="number" ng-model="ja.godina"> <br />
        <input type="email" ng-model="ja.email"> <br />
        <a ng-click="send()">Send</a>
    </form>