<!DOCTYPE html>
<html lang="en" ng-app="angularJSKurs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./../lib/angular.js"></script>
    <script src="./app.js"></script>
    <script src="./calc.js"></script>
</head>

<body>
    <div ng-controller="CustomCtrl">
        <input type="number" ng-model="broj">
        <a ng-click="add()">Add</a>
        <span>{{rezultat}}</span>
    </div>
</body>

</html>