<form>
    <input type="number" ng-model="$ctrl.a">
    <input type="number" ng-model="$ctrl.b">
    <input type="button" value="Saberi" ng-click="$ctrl.add($ctrl.a, $ctrl.b)">

</form>

<h1>{{$ctrl.a+$ctrl.b}}</h1>