Search: <input type="text" ng-model="query">
        <form>
            <input type="text" ng-model="$ctrl.ja.ime"> <br>
            <input type="text" ng-model="$ctrl.ja.prezime"> <br>
            <input type="text" ng-model="$ctrl.ja.mesto"> <br>
            <input type="text" ng-model="$ctrl.ja.dan"> <br>
        </form>     
        
        <div ng-repeat="i in $ctrl.objekti | filter:query">
                <img ng-src="{{i.slika}}">
                <p>{{i.naziv}}</p>
        </div>
