<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zadatak 1</title>
    <script src="./../lib/angular.js"></script>
    <script src="./app.js"></script>
    <script src="./servisDodavanje.js"></script>
    <script src="./servisOduzimanje.js"></script>
    <style>
        img {
            width: 250px;
            height: 250px;
        }
        ul {
            list-style-type: none;
        }
    </style>
</head>

<body>
    <div ng-controller="CustomCtrl">
        <input type="number" ng-model="broj1">
        <input type="number" ng-model="broj2">
        <button ng-click="dodavanje()">Dodaj</button>
        <span>{{rezultat}}</span> <br> <br>

        <input type="number" ng-model="broj3">
        <input type="number" ng-model="broj4">
        <button ng-click="oduzimanje()">Oduzmi</button>
        <span>{{rezultat2}}</span>
    </div>

    <div ng-controller="GalerijaController">
        <h1>Boston Images</h1>
        <ul>
            <li ng-repeat="details in BostonImages">
                <img ng-src="http://www.pgbovine.net/new-galleries/boston/images/{{details.filename}}"> <br>
                <span>{{ details.title }}</span>
                <p>{{ details.year }}</p>
            </li>
        </ul>
    </div>
</body>

</html>