<form action="">
    <input type="text" ng-model="ja.ime">
    <input type="text" ng-model="ja.prezime">
    <input type="text" ng-model= "ja.godine">
    <input type="text" ng-model="ja.email">
</form>
<button ng-click="jalog()">Ispisi</button>