Broj 1: <input type="number" ng-model="num1">
Broj 2: <input type="number" ng-model="num2">
<button ng-click="digitron()">Izracunaj</button> <br>
Sabiranje: <input type="text" ng-model="sabiranje"> <br>
Oduzimanje: <input type="text" ng-model="oduzimanje"> <br>
Mnozenje: <input type="text" ng-model="mnozenje"> <br>
Deljenje: <input type="text" ng-model="deljenje">
