<form action="">
    <input type="text" ng-model="korisnik.ime"> <br>
    <input type="text" ng-model="korisnik.prezime"> <br>
    <input type="text" ng-model="korisnik.mesto"> <br>
    <input type="text" ng-model="korisnik.godine"> <br>
</form>
<button ng-click="log()">Loguj</button>
