<div ng-controller='CDogsController'>
        <h2>{{title}}</h2>
        <ul>
            <li ng-repeat="a in dogs">
                <img ng-src="{{a.src}}"><br>
                <a href="#!c/{{a.name}}"><strong>{{a.name}}</strong></a>
                <p>{{a.snippet}}</p>
            </li>
        </ul>
    </div>