<!DOCTYPE html>
<html lang="en" ng-app="mojAngular">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./../lib/angular.js"></script>
    <script src="./app.js"></script>
    <style>
        img{
            width: 150px;
        }

    </style>
</head>
<body>
    <div ng-controller = "kontroler1">
        <form>
            <li>Ime je: {{ime}}</li>
            <li>Prezime je: {{prezime}}</li>
            <li>Mesto rodjenja je: {{mesto}}</li>
        </form>
        <div ng-repeat="i in objekti">
            <img ng-src="{{i.slika}}">
            <p>{{i.naziv}}</p>
        </div>

        <p>Dugme je kliknuto {{broj}} puta.</p>
        <input type="button" value="Dugme" ng-click="brojac()"> <br> <br>
    </div>

    <div ng-controller = "kontroler2">
        <form action="">
            <input type="text" name="" id="" ng-model="ja.ime">
            <input type="text" name="" id="" ng-model = "ja.prezime">
            <input type="number" name="" id="" ng-model="ja.godine">
            <input type="email" name="" id="" ng-model= "ja.email">
        </form>
        <input type="submit" value="Posalji" ng-click="submit()">        
    </div>
</body>
</html>