<input type="text" ng-model="query"> <br>
Moje ime je: {{ime}} <br>
Moje prezime je: {{prezime}} <br>
Moje mesto je: {{mesto}} <br>

<table>
    <tr ng-repeat="sve in slike | filter:query">
        <td>{{sve.naziv}}</td>
        <td><img ng-src='{{sve.src}}'></td>
    </tr>
</table>
<br>