<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./../lib/angular.js"></script>
    <script src="./app.js"></script>
    <style>
        table,
        tr,
        td {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
            text-align: center;
        }
        td {
            padding:10px;
        }

        .arrow-down:after,.arrow-up:after{
            content: ' ';
            position: relative;
            left: 2px;
            border: 8px solid transparent;
            }

            .arrow-down:after{
            top: 10px;
            border-top-color: black;
            }

            .arrow-up:after{
            bottom: 15px;
            border-bottom-color: black;
            }

            .arrow-down,.arrow-up{
            padding-right: 10px;
        }
    </style>
</head>

<body>
    <div ng-controller="MainControler">
        Prikazi: <input type="number" ng-model="quantity" ng-init="quantity=5" min="1" max="5"> reda-redova. <br> <br>

        Sortiraj po: 
            <select ng-model="sortorder" ng-init="sortorder='ime'">
                <option value="ime">Ime po rastucem</option>
                <option value="-ime">Ime po opadajucem</option>
                <option value="zarada">Zarada (Manja-Veca)</option>
            </select> <br> <br>

        Filtriraj podatke po imenu: <input type="text" ng-model="ime" > <br> <br>
        Filtriraj podatke po imenu: <input type="text" ng-model="grad"> <br> <br>
        Pretraga po tacnom nazivu: <input type="checkbox" ng-model="checkboxValue"> <br> <br>
        Sakrij kolonu zarada: <input type="checkbox" ng-model="zaradaSakrij"> 

        <table>
            <tr>
                <td><strong>Ime</strong></td>
                <td><strong>Datum rodjenja</strong></td>
                <td style="width: 100px;"><strong><a ng-click='sortColumn("pol")' ng-class='sortClass("pol")'>Pol</a></strong></td>
                <td style="width: 200px;"><strong><a ng-click='sortColumn("zarada")' ng-class='sortClass("zarada")'>Zarada (Number filter)</strong></td>
                <td><strong>Zarada (curency filter)</strong></td>
                <td><strong>Grad</strong></td>
            </tr>
            <tr ng-repeat="sve in osobe |  limitTo:quantity | orderBy:sortorder | filter: ime : checkboxValue | filter: grad | orderBy:column:reverse">
                <td>{{sve.ime}}</td>
                <td>{{sve.datumRodj | date : 'dd/MM/y'}}</td>
                <td>{{sve.pol}}</td>
                <td><span ng-hide="zaradaSakrij">{{sve.zarada | number : 2}}</span><span ng-show="zaradaSakrij">#######</span></td>
                <td><span ng-hide="zaradaSakrij">{{sve.zarada | currency: "€" :1}}</span><span ng-show="zaradaSakrij">#######</span></td>
                <td>{{sve.grad}}</td>
            </tr>
        </table> <br> <br>

        Odaberite izgled:
        <select ng-model="include" ng-init="include='osobeTabela.html'">
            <option value="osobeTabela.html">Kao tabela</option>
            <option value="osobeLista.html">Kao lista</option>
        </select> <br> <br>
        <div ng-include="include"></div>
    </div>
</body>

</html>