<div ng-controller="MainControler">
        <table>
            <tr>
                <td><strong>Ime</strong></td>
                <td><strong>Pol</strong></td>
                <td><strong>Zarada</strong></td>
            </tr>
            <tr ng-repeat="svi in osobe2">
                <td>{{svi.ime}}</td>
                <td>{{svi.pol}}</td>
                <td>{{svi.zarada}}</td>
            </tr>
        </table>
    </div>