<div ng-controller="MainControler">
    <ul>
        <li ng-repeat="svi in osobe2">
            {{svi.ime}}
            <ul>
                <li>{{svi.pol}}</li>
                <li>{{svi.zarada}}</li>
            </ul>
        </li>
    </ul>

</div>