<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./../../lib/angular.js"></script>
    <script src="./app.js"></script>
    <script src="./kalkulator.js"></script>
</head>
<body ng-controller="CalculatorController">
    <input type="number" ng-model="num1">
    <input type="number" ng-model="num2">

    <input type="button" value="Sabiranje" ng-click="sabiranje()">
    <input type="button" value="Oduzimanje" ng-click="oduzimanje()">
    <input type="button" value="Deljenje">
    <input type="button" value="Mnozenje"> <br>

    <input type="number" ng-model="result">

</body>
</html>