Search: <input type="text" ng-model="query">
        <form>
                <li>Ime je: {{ime}}</li>
                <li>Prezime je: {{prezime}}</li>
                <li>Mesto rodjenja je: {{mesto}}</li>
            </form>
            <div ng-repeat="i in objekti | filter:query ">
                <img ng-src="{{i.slika}}">
                <p>{{i.naziv}}</p>
            </div>
