<form action="">
        <input type="text" name="" id="" ng-model="ja.ime">
        <input type="text" name="" id="" ng-model = "ja.prezime">
        <input type="number" name="" id="" ng-model="ja.godine">
        <input type="email" name="" id="" ng-model= "ja.email">
    </form>
    <input type="submit" value="Posalji" ng-click="submit()"> 