

<div class="container">
      <h2>Sortiranje:</h2>
      <select class="custom-select mb-4" ng-model="sortorder" ng-init="sortorder='naziv'">
        <option value="naziv">Naziv (A-Z)</option>
        <option value="-naziv">Naziv (Z-A)</option>
        <option value="cena">Cena (Manja-Veca)</option>
        <option value="-cena">Cena (Veca-Manja)</option>
      </select>

<div class="row">
<div class="col-md-4 mb-5"  ng-repeat="i in $ctrl.proizvodi | orderBy:sortorder | filter:query">
      <div class="card text-center">
        <div class="card-header bg-success text-white font-weight-bold">
          {{i.naziv}}
        </div>
        <div class="card-body">
          <img ng-src="{{i.slika}}" class="card-img-top">
        </div>
        <div class="card-footer text-muted">
          {{i.cena | currency}}
        </div>
      </div>
    </div>
</div>
</div>