<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./../../lib/angular.js"></script>
    <script src="./app.js"></script>
    <style>
        table, tr, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        img {
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
    <div ng-controller='PrviKontroler as ctrl'>
        Moje ime je: {{ctrl.ime}} <br>
        Moje prezime je: {{ctrl.prezime}} <br>
        Moje mesto je: {{ctrl.mesto}} <br>

        <table>
            <tr ng-repeat="sve in ctrl.slike">
                <td>{{sve.naziv}}</td>
                <td><img ng-src='{{sve.src}}'></td>
            </tr>
        </table>
        <br>
    </div>

    <div ng-controller='DrugiKontroler'>
        <form action="">
            <input type="text" ng-model="ja.ime">
            <input type="text" ng-model="ja.prezime">
            <input type="text" ng-model="ja.godine">
            <input type="text" ng-model="ja.email">
        </form>
        <button ng-click="jaLog()">Posalji</button>
    </div>
    
</body>
</html>