<div ng-controller='PhoneController'>
    <h2>{{title}}</h2>
    <ul>
        <li ng-repeat="phone in phones">
            <a href="#!phones/{{phone.id}}">{{phone.name}}</a>
            <p>{{phone.snippet}}</p>
        </li>
    </ul>
</div>