<!DOCTYPE html>
<html lang="en" ng-app="angularJSKurs">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>angularJSKurs</title>
    <script src="./../../lib/angular.js"></script>
    <script src="./app.js"></script>
</head>

<body>
    <div ng-controller="DirectiveController">
        <h1>Servis</h1>
        {{message}} <br>
        $location servis: {{myUrl}} <br>
        <ul>
            <li ng-repeat="p in phonesJson.phones">
                <span>{{ p.name }}</span>
                <p>{{ p.snippet }}</p>
            </li>
        </ul>
    </div>
</body>

</html>